
.bg-container {
    background-color: #f1f5f8;
    height: 100vh;
}

.title {
    color: #2d3a35;
    font-size: 48px;
    font-weight: bold;
    font-family: Roboto;
}

.counterValue {
    color: #c20a72;
}

.para {
    font-size: 16px;
    font-family: Roboto;
    margin-top: 10px;
    margin-bottom: 20px;
}

.btn {
    height: 50px;
    width: 100px;
}