
.checkbox-label {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    width: 82%;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
}

.checked {
    color: green;
}