.foodItemName {
    list-style: none;
    padding: 10px 16px;
    font-size: 16px;
    width: 300px;
    margin: auto;
    font-weight: 500;
}

.foodItemName button {
    padding: 6px 14px;
    font-size: 14px;
}