
.movieReviewsTitle {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    font-family: Roboto;
    color: #2d3a35;

}

.movieTileHeading {
    color: #7b8794;
    font-size: 12px;
    margin-top: 30px;
    font-weight: bold;
}

.titleInput {
    width: 60vh;
    margin-top: 10px;
}

::placeholder {
    text-align: center;
}